style.css

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #696e72;
    background-color: rgb(232, 229, 222);
}

#header {
    padding: 20px;
    text-align: center;
    background: rgb(3, 3, 3);
    color: white;
    font-size: 23px;
}

#bankContainer {
    font-size: 23px;
    text-align: left;
    height: 175px;
}

#workContainer {
    font-size: 23px;
    text-align: left;
    height: 175px;
}

#laptopsContainer {
    font-size: 23px;
    text-align: left;
    height: 175px;
}

#buyLaptopContainer {
    font-size: 23px;
    text-align: center;
}

#btnBankContainer {
    background-color: rgb(45, 197, 45);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

#btnWorkContainerBank {
    background-color: yellow;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

#btnWorkContainerWork {
    background-color: blue;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

#btnBuyLaptopContainer {
    background-color: lightskyblue;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.styler {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-align: left;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

h5 {
    text-align: left;  
}

